/* HND regular */
@font-face {
  font-family: 'Helvetica Now Display';
  font-style: normal;
  font-weight: 400;
  src: url('helvetica-now-display/HelveticaNowDisplay-Regular.eot');
  src: url('helvetica-now-display/HelveticaNowDisplay-Regular.eot'); /* IE9 Compat Modes */
  src: local('Helvetica Now Display Regular'), local('Helvetica-Now-Display-Regular'),
  url('helvetica-now-display/HelveticaNowDisplay-Regular.eot?#iefix')
  format('embedded-opentype'),
    /* IE6-IE8 */ url('helvetica-now-display/HelveticaNowDisplay-Regular.woff2')
  format('woff2'),
    /* Super Modern Browsers */
  url('helvetica-now-display/HelveticaNowDisplay-Regular.woff') format('woff'),
    /* Modern Browsers */ url('helvetica-now-display/HelveticaNowDisplay-Regular.ttf')
  format('truetype')
}

/* HND medium */
@font-face {
  font-family: 'Helvetica Now Display';
  font-style: normal;
  font-weight: 500;
  src: url('helvetica-now-display/HelveticaNowDisplay-Medium.eot');
  src: url('helvetica-now-display/HelveticaNowDisplay-Medium.eot'); /* IE9 Compat Modes */
  src: local('Helvetica Now Display Medium'), local('Helvetica-Now-Display-Medium'),
  url('helvetica-now-display/HelveticaNowDisplay-Medium.eot?#iefix')
  format('embedded-opentype'),
    /* IE6-IE8 */ url('helvetica-now-display/HelveticaNowDisplay-Medium.woff2')
  format('woff2'),
    /* Super Modern Browsers */
  url('helvetica-now-display/HelveticaNowDisplay-Medium.woff') format('woff'),
    /* Modern Browsers */ url('helvetica-now-display/HelveticaNowDisplay-Medium.ttf')
  format('truetype')
}

/* HND bold */
@font-face {
  font-family: 'Helvetica Now Display';
  font-style: normal;
  font-weight: 700;
  src: url('helvetica-now-display/HelveticaNowDisplay-Medium.eot');
  src: url('helvetica-now-display/HelveticaNowDisplay-Medium.eot'); /* IE9 Compat Modes */
  src: local('Helvetica Now Display Medium'), local('Helvetica-Now-Display-Medium'),
  url('helvetica-now-display/HelveticaNowDisplay-Medium.eot?#iefix')
  format('embedded-opentype'),
    /* IE6-IE8 */ url('helvetica-now-display/HelveticaNowDisplay-Medium.woff2')
  format('woff2'),
    /* Super Modern Browsers */
  url('helvetica-now-display/HelveticaNowDisplay-Medium.woff') format('woff'),
    /* Modern Browsers */ url('helvetica-now-display/HelveticaNowDisplay-Medium.ttf')
  format('truetype')
}

/* HMD extra bold */
@font-face {
  font-family: 'Helvetica Now Display';
  font-style: normal;
  font-weight: 800;
  src: url('helvetica-now-display/HelveticaNowDisplay-ExtraBold.eot');
  src: url('helvetica-now-display/HelveticaNowDisplay-ExtraBold.eot'); /* IE9 Compat Modes */
  src: local('Helvetica Now Display Extra Bold'), local('Helvetica-Now-Display-Extra-Bold'),
  url('helvetica-now-display/HelveticaNowDisplay-ExtraBold.eot?#iefix')
  format('embedded-opentype'),
    /* IE6-IE8 */ url('helvetica-now-display/HelveticaNowDisplay-ExtraBold.woff2')
  format('woff2'),
    /* Super Modern Browsers */
  url('helvetica-now-display/HelveticaNowDisplay-ExtraBold.woff') format('woff'),
    /* Modern Browsers */ url('helvetica-now-display/HelveticaNowDisplay-ExtraBold.ttf')
  format('truetype')
}

