<div class="strategy">

</div> <!--/.strategy-->

<div class="strategy-nav d-flex justify-content-between align-items-center">

  <div class="strategy-info d-none d-md-flex align-items-center">
    <span class="d-inline-block mr-3">
      <svg width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.9998 0.357544L-0.000183105 5.78785V13.9333C-0.000183105 21.4678 5.11982 28.5137 11.9998 30.2242C18.8798 28.5137 23.9998 21.4678 23.9998 13.9333V5.78785L11.9998 0.357544ZM9.33315 22.0788L3.99982 16.6485L5.87982 14.7343L9.33315 18.2368L18.1198 9.29039L19.9998 11.2182L9.33315 22.0788Z" fill="#98B172"/>
      </svg>
    </span>
    <p class="mb-0">Inyova guarantees highest investment standards. Learn more.</p>
  </div> <!--/.strategy-info-->

  <div class="strategy-actions d-flex ml-auto">
    <button class="btn btn-white">Book consultation</button>
    <button class="btn btn-red ml-2" (click)="onAccountOpen()">Open account</button>
    <button class="btn btn-green ml-4 d-none d-md-flex align-items-center">
      <span class="mr-2">
        <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.0542 19.1635C2.65463 17.9641 3.16667 15.5 3 14C7.33333 13.1667 8.83064 15.9432 8.55524 16.1635C3.55525 20.1635 0.553732 19.5386 1.0542 19.1635Z" stroke="white" stroke-width="2"/>
          <circle cx="9.50098" cy="9.5" r="8.5" fill="#98B172" stroke="white" stroke-width="2"/>
        </svg>
      </span>Chat
    </button>
  </div> <!--/.strategy-actions-->

</div> <!--/.strategy-nav-->

