@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.strategy {
  padding-bottom: 6.25rem;
  z-index: 1;
}

.strategy-nav {
  background-color: $white;
  height: 6.25rem;
  padding: {
    left: 1.125rem;
    right: 1.125rem;
  }
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.strategy-info {
  max-width: 16.15rem;
  @include media-breakpoint-up(lg) {
    max-width: 25rem;
    padding-left: 7.65rem;
  }
  > p {
    font-weight: 500;
  }
}

.strategy-actions {
  > .btn {
    &:not(.btn-green) {
      min-width: 9.5625rem;
      @include media-breakpoint-up(lg) {
        min-width: 12.5625rem;
      }
      @include media-breakpoint-up(xl) {
        min-width: 14.5625rem;
      }
    }
  }
}
