@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.details {
  padding-top: 2.5rem;
}

.details-container {
  max-width: 26.375rem;
  padding: {
    left: 1rem;
    right: 1rem;
  }
}

.details-header {
  > h1 {
    font-size: 2rem;
    font-family: 'Lora', serif;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -.8px;
    margin-bottom: 1.25rem;
  }
}

.details-form {
  background-color: $white;
  padding: 0.75rem;
  margin-bottom: 1.25rem;
}

.details-info {
  margin-top: 1.25rem;
  p {
    > a {
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
