<div class="details">

  <div class="details-container ml-auto mr-auto">

    <header class="details-header">
      <h1>Personal details</h1>
    </header> <!--/.details-header-->

      <form #formDirective="ngForm"
            [formGroup]="accountDetailsForm"
            (ngSubmit)="onSubmit($event)">
        <div class="details-form">

          <div class="form-group">
            <label [class.--error]="formDirective.submitted && genderControl?.invalid" for="">Gender</label>

            <div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="gender-male" [value]="inyovaAccountGender.MALE" formControlName="gender" class="custom-control-input">
                <label class="custom-control-label" [class.--error]="formDirective.submitted && genderControl?.invalid" for="gender-male">Male</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="gender-female" [value]="inyovaAccountGender.FEMALE" formControlName="gender" class="custom-control-input">
                <label class="custom-control-label" [class.--error]="formDirective.submitted && genderControl?.invalid" for="gender-female">Female</label>
              </div>
            </div>

          </div> <!--/.form-group-->

          <div class="form-group">
            <label for="first-name" [class.--error]="formDirective.submitted && firstNameControl?.invalid">First name</label>
            <input type="text" id="first-name" class="input-control" formControlName="firstName" placeholder="First name (as shown in passport / ID)">
          </div> <!--/.form-group-->

          <div class="form-group">
            <label for="last-name" [class.--error]="formDirective.submitted && lastNameControl?.invalid">Last name</label>
            <input type="text" id="last-name" class="input-control" formControlName="lastName" placeholder="Last name (as shown in passport / ID)">
          </div> <!--/.form-group-->

          <div class="form-group">
            <label for="last-name" [class.--error]="formDirective.submitted && birthdateControl?.invalid">Date of birth</label>
            <div class="d-flex" formGroupName="birthdate">
              <div class="mr-4">
                <input type="text" class="input-control" formControlName="day" placeholder="Day">
              </div>
              <div class="mr-4">
                <input type="text" class="input-control" formControlName="month" placeholder="Month">
              </div>
              <div class="mr-4">
                <input type="text" class="input-control" formControlName="year" placeholder="Year">
              </div>
            </div>
          </div> <!--/.form-group-->

          <div class="form-group mb-0">
            <label for="last-name" [class.--error]="formDirective.submitted && nationalityControl?.invalid">Nationality</label>
            <input type="text" class="input-control" formControlName="nationality" placeholder="Nationality">
          </div> <!--/.form-group-->

        </div> <!--/.details-form-->

        <div class="details-submit">
          <button type="submit" class="btn btn-block btn-black">Continue</button>
        </div> <!--/.details-submit-->

      </form>

    <div class="details-info d-flex align-items-center">
      <span class="d-inline-block mr-3">
        <svg width="24" height="31" viewBox="0 0 24 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.9998 0.357544L-0.000183105 5.78785V13.9333C-0.000183105 21.4678 5.11982 28.5137 11.9998 30.2242C18.8798 28.5137 23.9998 21.4678 23.9998 13.9333V5.78785L11.9998 0.357544ZM9.33315 22.0788L3.99982 16.6485L5.87982 14.7343L9.33315 18.2368L18.1198 9.29039L19.9998 11.2182L9.33315 22.0788Z" fill="#98B172"/>
        </svg>
      </span>
      <p class="mb-0">Inyova guarantees highest investment standards.<br> <a href="javascript:;" class="text-body">Learn more.</a></p>
    </div> <!--/.details-->

  </div> <!--/.details-container-->

</div> <!--/.details-->
