<main class="main d-flex flex-column">
  <!-- HEADER -->
  <header class="header">
    <app-inyova-header></app-inyova-header>
  </header> <!--/.header-->
  <!-- END HEADER -->
  <!-- CONTENT -->
  <section class="content">
    <router-outlet></router-outlet>
  </section> <!--/.content-->
  <!-- END CONTENT-->
</main> <!--/.main-->
