@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~src/styles/base/variables";

.main {
  height: 100%;
  overflow: hidden;
}

.header {
  background-color: $white;
  flex: 0 0 3.5rem;
  max-height: 3.5rem;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    flex: 0 0 4.5rem;
    max-height: 4.5rem;
  }
}

.content {
  background-color: $body-bg;
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
}
