<header class="inyova-header d-flex flex-row align-items-center justify-content-between">

  <div class="header-navigation d-flex align-items-center">

    <div class="header-brand">
      <a href="javascript:;" [routerLink]="'/'"><img class="img-fluid" src="assets/images/logo.svg" alt="Inyova Logo"></a>
    </div> <!--/.header-brand-->

    <nav class="header-nav d-none d-md-block">
      <ul class="list-unstyled d-flex">
        <li><a [routerLink]="'strategy'" [routerLinkActive]="'active'" href="javascript:;">Strategy</a></li>
        <li><a [routerLink]="'details'" [routerLinkActive]="'active'" href="javascript:;">Next steps</a></li>
      </ul> <!--/.list-unstyled-->
    </nav> <!--/.header-nav-->

  </div> <!--/.header-navigation-->

  <div class="header-actions d-flex align-items-center">

    <div class="header-help mr-2 d-md-none">
      <a href="javascript:;" class="btn-help"><img src="assets/images/help.svg" alt="Help icon"></a>
    </div> <!--/.header-help-->

    <div class="header-dropdown mr-2 d-none d-md-block">
      <a href="javascript:;" class="btn-dropdown d-flex align-items-center">
        <span class="mr-2"><img src="assets/images/tree.svg" alt="Tree svg"></span>
        Inyova investment
        <span class="ml-2"><img src="assets/images/chevron-down.svg" alt="Chevron down"></span>
      </a> <!--/.btn-dropdown-->
    </div> <!--/.header-dropdown-->

    <div class="header-menu">
      <a href="javascript:;" class="btn-menu">
        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 2H0V0H18V2ZM18 12H0V14H18V12ZM18 6H0V8H18V6Z" fill="#2F2C26"/>
        </svg>
      </a> <!--/.btn-menu-->
    </div> <!--/.header-menu-->

  </div> <!--/.header-actions-->

</header> <!--/.inyova-header d-flex flex-row-->
