@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.inyova-header {
  height: 100%;
  padding: {
    left: 1rem;
    right: 1rem;
  }
  @include media-breakpoint-up(md) {
    padding: {
      left: 2.5rem;
      right: 2.5rem;
    }
  }
}

.header-brand {
  max-width: 7.25rem;
  @include media-breakpoint-up(md) {
    max-width: 8.75rem;
  }
}

.header-nav {
  > ul {
    margin: 0;
    padding: 0 0 0 3.125rem;
    > li {
      padding: {
        left: 1rem;
        right: 1rem;
      }
      > a {
        color: $body-color;
        text-decoration: none;
        position: relative;
        &.active {
          font-weight: 800;
          &:after {
            background-color: $body-color;
            height: .25rem;
            content: '';
            position: absolute;
            left: 0;
            bottom: -1.625rem;
            width: 100%;
          }
        }
      }
    }
  }
}
