html {
  font-size: 100%;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.btn-dropdown {
  background-color: $body-bg;
  border-radius: 1.25rem;
  color: $body-color;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  transition: background-color .2s ease-in-out;
  &:hover,
  &:active {
    color: $body-color;
    background-color: darken($body-bg, 3%);
    text-decoration: none;
  }
}

.btn-menu {
  padding: 0.8125rem 0.6875rem;
}

.btn-help {
  background-color: $brand-color;
  border-radius: 50%;
  content: '';
  display: block;
  position: relative;
  height: 3rem;
  width: 3rem;
  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin btn-variant($color, $bg-color, $border-color, $hover-color, $hover-bg-color, $hover-border-color) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;
  &:hover,
  &:active {
    color: $hover-color;
    background-color: $hover-bg-color;
    border-color: $hover-border-color;
  }
}

.btn-red {
  @include btn-variant($white, $red-color, $red-color, $white, darken($red-color, 5%), darken($red-color, 5%));
}

.btn-white {
  border: 0.5px solid #E5E5E5;
  @include btn-variant($body-color, $white, #E5E5E5, $body-color, $gray-100, $gray-100);
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.5);
}

.btn-green {
  @include btn-variant($white, $brand-color, #E5E5E5, $white, darken($brand-color, 5%),  darken($brand-color, 5%));
  border-radius: 2.5rem;
}

.btn-black {
  @include btn-variant($white, $body-color, $body-color, $white, lighten($body-color, 5%), lighten($body-color, 5%))
}

.input-control {
  background-color: transparent;
  border: 1px solid #E5E5E5;
  border-radius: 0;
  box-shadow: 0 0 0 0 transparent;
  background-clip: border-box;
  border-width: 1px 0;
  border-top-color: transparent!important;
  display: block;
  width: 100%;
  height: 1.625rem;
  padding: 0.25rem 0;
  font-size: 0.875rem;
  line-height: 1.42857;
  color: #333;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0 transparent, 0 1px 0 $body-color;
  }
  &::placeholder {
    color: #757575;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-control-label {
  &.--error {
    &::before {
      border-color: $feedback-color;
    }
  }
}

label {
  &:not(.custom-control-label) {
    &.--error {
      color: $feedback-color;
    }
  }
}

.toast-container .ngx-toastr {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
  padding: 0.75rem 1rem;
  &:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.toast-error {
  background-image: none !important;
  background-color: $feedback-color;
}

.toast-success {
  background-image: none !important;
}
