// colors
$body-color: #2F2C26;
$body-bg: #F8F6F1;
$brand-color: #9BB474;
$feedback-color: #FF6348;
$red-color: #EE3C15;

// typography
$font-family-base: 'Helvetica Now Display', sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.42857;

// buttons
$btn-padding-y: 0.8125rem;
$btn-padding-x: 1.5rem;
$btn-font-weight: 700;
$btn-font-size: 1rem;
$btn-line-height: 1.47;
$btn-border-width: 0;
$btn-border-radius: 0.125rem;

// inputs
$custom-control-indicator-checked-bg: $body-color;
$form-group-margin-bottom: 1.5rem;
